$background-color: #ffbbf0;


  .contact-me {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    background-color: $background-color;
    margin-bottom: 20%;
    margin-top: 10px;
  
  
    h2 {
      color: #000000;
      text-align: center;
      margin-top: 50px;
      flex-basis: 100%;
    }
    img {
      width: 20%;
      height: 20%;
      border-radius: 50%;
      margin: 20px;
      margin-left: 50px;
    }
    a {
      color: #000000;
      text-decoration: none;
      text-align: center;
      margin-top: 20px;
      flex-basis: 100%;
    }
  }