$background-color: #ffbbf0;
$text-color: rgb(0, 0, 0);

body {
  margin: 0;
  padding: 0;
}

main {
  height: 100%;
}

.home-page {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: $background-color;
 

  h2 {
    font-family:Georgia, 'Times New Roman', Times, serif;
    margin-bottom: 20px;
    font-size: 2em;
    color: $text-color;
  }
  
  img {
    width: 50%;
    height: auto;
    align-self: center;
    border-radius: 10px;
  }
  p {
    font-size: 1.2rem;
    color: #555;
    margin-top: 1rem;
    
    text-align: justify;
    font-family:Georgia, 'Times New Roman', Times, serif;
  }
}